#include <dt-bindings/zmk/oskey.h>
#include <behaviors/oskey.dtsi>

// Runtime OS selection for zmk-oskey.
#define OS_WIN_SEL &os_sel OS_WIN
#define OS_MAC_SEL &os_sel OS_MAC
#define OS_LIN_SEL &os_sel OS_LIN

// OS-aware navigation helpers.
#define OS_LINE_START &ok_line_start
#define OS_LINE_END   &ok_line_end
#define OS_HT_HOME    &os_ht_line_start 0 0
#define OS_HT_END     &os_ht_line_end 0 0

/ {
  behaviors {
    os_ht_line_start: os_ht_line_start {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      flavor = "tap-preferred";
      quick-tap-ms = <220>;
      tapping-term-ms = <800>;
      bindings = <&ok_doc_start>, <&ok_line_start>;
    };

    os_ht_line_end: os_ht_line_end {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      flavor = "tap-preferred";
      quick-tap-ms = <220>;
      tapping-term-ms = <800>;
      bindings = <&ok_doc_end>, <&ok_line_end>;
    };
  };
};
